<h1>{{main_title}}</h1>

<!--Building-->
{{!-- <h2>{{title1}}</h2>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
    </tr>
    {{#each Building}}
    <tr>
        <td>{{Bid}}</td>
        <td>{{Bname}}</td>
    </tr>
    {{/each}}
</table> --}}

<!--Department-->
{{!-- <h2>{{title2}}</h2>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone number</td>
    </tr>
    {{#each Department}}
    <tr>
        <td>{{Did}}</td>
        <td>{{Dname}}</td>
        <td>{{Demail}}</td>
        <td>{{DphoneNumber}}</td>
    </tr>
    {{/each}}
</table> --}}

<!--Room-->
{{!-- <h2>{{title3}}</h2>

<table>
    <tr>
        <td>Id</td>
        <td>Building Name</td>
        <td>Capacity</td>
        <td>Room Name</td>
        <td>Department Name</td>
    </tr>
    {{#each Room}}
    <tr>
        <td>{{Rid}}</td>
        <td>{{Bname}}</td>
        <td>{{Capacity}}</td>
        <td>{{RName}}</td>
        <td>{{Mgr_Dname}}</td>
    </tr>
    {{/each}}
</table> --}}

<!--Student-->
<h2>{{title4}}</h2>

<table>
    <tr>
        <td>Id</td>
        <td>Major</td>
        <td>Club</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone number</td>
        
    </tr>
    {{#each Student}}
    <tr>
        <td>{{Sid}}</td>
        <td>{{Major}}</td>
        <td>{{ClubName}}</td>
        <td>{{Sname}}</td>
        <td>{{Semail}}</td>
        <td>{{SphoneNumber}}</td>
        
    </tr>
    {{/each}}
</table>


<form method="get">
          <button 
            style="margin-left: 10px;" 
            type="submit" 
            formaction="/class/delete"
          >
          수강취소하기
          </button>



{{!-- <!--Class-->
<h2>{{title5}}</h2>

<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Professor Id</td>
        <td>Number of Participants</td>
        <td>Room name</td>
        
    </tr>
    {{#each Class}}
    <tr>
        <td>{{ClassId}}</td>
        <td>{{ClassName}}</td>
        <td>{{ProfessorId}}</td>
        <td>{{NumberOfParticipants}}</td>
        <td>{{Rname}}</td>      
    </tr>
    {{/each}}
</table> --}}